In [37]:
import pandas as pd
import numpy as np

df = pd.Series([1,3,4,np.nan, 7,8])
df

0    1.0
1    3.0
2    4.0
3    NaN
4    7.0
5    8.0
dtype: float64

In [38]:
date = pd.date_range('20131010', periods=6)
date

DatetimeIndex(['2013-10-10', '2013-10-11', '2013-10-12', '2013-10-13',
               '2013-10-14', '2013-10-15'],
              dtype='datetime64[ns]', freq='D')

In [44]:
df.shape

(1, 3)

In [45]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [51]:
df2 = pd.DataFrame([[1,2,4],[10,np.nan,7],[9,8,67],[10,37,54]])
df2.fillna(value= 110)

    0      1   2
0   1    2.0   4
1  10  110.0   7
2   9    8.0  67
3  10   37.0  54

In [49]:
df2.iloc[1:3, 0:2]

    0   1
1  10  56
2   9   8

In [53]:
df2.head()
df2.tail()

    0     1   2
0   1   2.0   4
1  10   NaN   7
2   9   8.0  67
3  10  37.0  54

In [54]:
df2.describe()

               0          1          2
count   4.000000   3.000000   4.000000
mean    7.500000  15.666667  33.000000
std     4.358899  18.717194  32.218007
min     1.000000   2.000000   4.000000
25%     7.000000   5.000000   6.250000
50%     9.500000   8.000000  30.500000
75%    10.000000  22.500000  57.250000
max    10.000000  37.000000  67.000000